.masthead {
    height: 100vh;  
}

.form-group-long {
    width: 70%;
}

.width-full {
    width: 100% !important;
}

.btn, .nav-link, .page-item:not(.active) {
    cursor: pointer;
}

.btn:disabled {
    cursor:not-allowed;
}

.text-gray {
    color: #756f6f !important;
}

.custom-modal {
    margin-top: -20px !important;
    margin-bottom: 0px !important;
}

.btn-margin{
    margin-left: 1% !important;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90% !important;
        max-width:1200px !important;
    }
}