<i [hidden] = "!openProgress" class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
<div [hidden] = "openProgress" class="modal-dialog custom-modal modal-xl" style="color: black;">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center width-full text-gray">Welcome
                <a class="btn btn-info pull-right"><i style="color:white;" (click) = "fetchUriList()" class="fa fa-refresh fa-lg fa-fw"></i></a> 
            </h1>
        </div>
        <div class="modal-body">
            <table class="table" style="text-align: left;">
                <thead>
                    <tr>
                        <th width="60%">URL</th>
                        <th width="30%">short URL</th>
                        <th width="10%">Counting</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden] = "noContent" *ngFor="let uri of uriList">
                        <td title="{{uri.uri}}">{{cutWording(uri.uri)}}</td>
                        <td title="{{uri.shortUri}}">{{cutWording(uri.shortUri)}}</td>
                        <td style="text-align:center;">{{uri.count}}</td>
                    </tr>
                    <tr [hidden] = "!noContent">
                        <td colspan="3">no content</td>
                    </tr>
                </tbody>
            </table>
            <nav [hidden] = "noContent || openProgress || total == 1">
                <div>
                    <ul class="pagination pull-right">
                        <li [hidden] = "!firstPage" class="page-item"><a class="page-link" (click)="pagePrevious()">Previous</a></li>
                        <li [ngClass] = "{'active' : i == page }" class="page-item" *ngFor="let p of paging; let i = index;">
                            <a class="page-link"(click)="pageGoto(i)" >{{i+1}}</a>
                        </li>
                        <li [hidden] = "!lastPage" class="page-item"><a class="page-link" (click)="pageNext()">Next</a></li>
                    </ul>
                </div>
                <br/> <br/>
            </nav>
        </div>
    </div>
</div>