<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" [routerLink] = "['/']">BlueBike URL</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [ngClass] = "{'active' : router.url == '/' }" class="nav-link" [routerLink] = "['/']">Short URL</a>
        </li>
        <li class="nav-item" >
          <a [ngClass] = "{'active' : router.url == '/login' }" class="nav-link" [hidden] = "isLogin()" [routerLink] = "['/login']">Login</a>
        </li>
        <li class="nav-item" >
          <a [ngClass] = "{'active' : router.url == '/sign-up' }" class="nav-link" [hidden] = "isLogin()" [routerLink] = "['/sign-up']">Sign up</a>
        </li>
        <li class="nav-item" >
          <a [ngClass] = "{'active' : router.url == '/admin' }" class="nav-link" [hidden] = "!isLogin()" [routerLink] = "['/admin']">Static URL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [hidden] = "!isLogin()" (click) = "logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <router-outlet></router-outlet>
    </div>
  </div>
</header>